@{
    ViewBag.Title = "Home Page";
}

<script>
    $(() => {

        $(".content-box").on("touchmove", (e) => {
            console.log(e.screenY);
        })
        //$ebu.scrollMove("#test2");
    })
</script>

<div id="test" class="content-box" style="flex: 0 0 50%; border: 1px solid black; display :flex;flex-direction:column; overflow: auto;">
    <div style="flex:0 0 29%;">

    </div>
    <div style="flex:0 0 29%;">

    </div>

    <div style="flex:0 0 29%;">

    </div>

    <div style="flex:0 0 29%;">

    </div>

    <div style="flex:0 0 29%;">

    </div>

    <div style="flex:0 0 29%;">

    </div>
</div>